<div class="main-wrapper">
<button (click)="getEmployeeList()" type="button" class="btn btn-raised btn-primary header-btn">View All</button>
<button type="button" class="btn btn-raised btn-success header-btn" (click)="insertEmployeeData()">Insert New Record</button>
<router-outlet></router-outlet>



<div class="table-responsive" *ngIf="showAllEmployeeListFlag">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">Job Title</th>      
      <th scope="col">Actions</th>      
      
    </tr>
  </thead>
  <tbody *ngFor="let element of responseArrayData; let i = index">
    <tr>
      <th scope="row">{{i}}</th>
      <td>{{element.name}}</td>
      <td>{{element.email}}</td>
      <td>{{element.mobile}}</td>
      <td>{{element.jobTitle}}</td>      
      <td><ul>
        <li><button type="button" class="btn btn-raised btn-info" (click)="selectToUpdateEmployee(element)" >Update</button></li>
        <li><button (click)="passDataToModel(element)" type="button" class="btn btn-raised btn-danger" data-toggle="modal" data-target="#deleteModel">
          Delete</button></li>
       </ul></td>      
      
    </tr>
    
  </tbody>
</table>
</div>

<div class="form-wrapper" *ngIf="showAddNewFormFlag">
<div class="col-md-6 col-sm-6 centerField">
<form [formGroup]="employeeForm" (ngSubmit)="insertNewEmployeeRecord()">
    <div class="form-group">
        <label for="name" class="bmd-label-floating">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name" required>
        <div *ngIf="!!validateField?.name.invalid && !!validateField?.name.touched">Name Is Required</div>
      </div>
      <div class="form-group">
          <label for="mobile" class="bmd-label-floating">Mobile</label>
          <input type="text" class="form-control" id="mobile" formControlName="mobile" required>
        <div *ngIf="!!validateField?.mobile.invalid && !!validateField?.mobile.touched">Mobile Is Required</div>
          
        </div>
    <div class="form-group">
        <label for="email" class="bmd-label-floating">Email address</label>
        <input type="email" class="form-control" id="email" formControlName="email" required>
        <!-- <span class="bmd-help">We'll never share your email with anyone else.</span> -->
        <div *ngIf="!!validateField?.email.invalid && !!validateField?.email.touched">Email Is Required</div>

      </div>
      <div class="form-group">
          <label for="jobTitle" class="bmd-label-floating">Working Profile</label>
          <input type="text" class="form-control" id="jobTitle" formControlName="jobTitle" required>
        <div *ngIf="!!validateField?.jobTitle.invalid && !!validateField?.jobTitle.touched">Job Title Is Required</div>
          
        </div>
  <button class="btn btn-default" (click)="cancelRecord(); employeeForm.reset()">Cancel</button>
  <button type="submit" class="btn btn-primary btn-raised" [disabled]="employeeForm.invalid">Submit</button>

</form>
<div class="table-responsive" *ngIf="showNewInsertRecordFlag">
  <h3>Entry added sucessfull!</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Mobile</th>
          <th scope="col">Job Title</th>    
        </tr>
      </thead>
      <tbody *ngFor="let element of sucessInsertArrayData; let i = index">
        <tr>
          <th scope="row">{{i}}</th>
          <td>{{element.name}}</td>
          <td>{{element.email}}</td>
          <td>{{element.mobile}}</td>
          <td>{{element.jobTitle}}</td>                
        </tr>
        
      </tbody>
    </table>
    </div>
</div>
</div>

<!-- Update Employee Form -->
<div class="form-wrapper" *ngIf="showUpdateRecordFlag">
    <div class="col-md-6 col-sm-6 centerField">
    <form [formGroup]="employeeForm" (ngSubmit)="updateEmployeeData()">
        <div class="form-group">
            <label for="name" class="bmd-label-floating">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name" required>
            <div *ngIf="!!validateField?.name.invalid && !!validateField?.name.touched">Name Is Required</div>
          </div>
          <div class="form-group">
              <label for="mobile" class="bmd-label-floating">Mobile</label>
              <input type="text" class="form-control" id="mobile" formControlName="mobile" required>
            <div *ngIf="!!validateField?.mobile.invalid && !!validateField?.mobile.touched">Mobile Is Required</div>
              
            </div>
        <div class="form-group">
            <label for="email" class="bmd-label-floating">Email address</label>
            <input type="email" class="form-control" id="email" formControlName="email" required>
            <!-- <span class="bmd-help">We'll never share your email with anyone else.</span> -->
            <div *ngIf="!!validateField?.email.invalid && !!validateField?.email.touched">Email Is Required</div>
    
          </div>
          <div class="form-group">
              <label for="jobTitle" class="bmd-label-floating">Working Profile</label>
              <input type="text" class="form-control" id="jobTitle" formControlName="jobTitle" required>
            <div *ngIf="!!validateField?.jobTitle.invalid && !!validateField?.jobTitle.touched">Job Title Is Required</div>
              
            </div>
      <button class="btn btn-default" (click)="cancelRecord(); employeeForm.reset()">Cancel</button>
      <button type="submit" class="btn btn-primary btn-raised" [disabled]="employeeForm.invalid">Submit</button>
    
    </form>
    <div class="table-responsive" *ngIf="showUpdateListFlag">
      <h3>Entry added sucessfull!</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Mobile</th>
              <th scope="col">Job Title</th>    
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">0</th>
              <td>{{sucessUpdateArrayData.name}}</td>
              <td>{{sucessUpdateArrayData.email}}</td>
              <td>{{sucessUpdateArrayData.mobile}}</td>
              <td>{{sucessUpdateArrayData.jobTitle}}</td>                
            </tr>
            
          </tbody>
        </table>
        </div>
    </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are You Sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="deleteModelFieldFlag">

          <p>Name : {{deleteModelData.name}}</p>
          <p>Email : {{deleteModelData.email}}</p>
          <p>Mobile : {{deleteModelData.mobile}}</p>
          <p>Job Title : {{deleteModelData.jobTitle}}</p>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-raised btn-primary" (click)="deleteEmployeeItem()" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>